#main {
    font-size: large;
    padding-top:70px;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom: 3em;
}

body.mobile #main {
	padding-left: 10%;
    padding-right: 10%;
}

.post-list {
}

.post-container {
}
.post {
    border-left: 1px dashed #000000;
    padding: 0 .5em 1em .5em;
}

.post-title {
    font-size: 1.4em;
    font-weight: 200;
}

.post-brief {
    opacity: 0.6;
}

.post-description {
    margin-top: 1em;
}

[v-cloak] {
    display:none;
}

.put-left {
    float: left;
}
.put-right {
    float: right;
}

.jump-to-bar {
    width:inherit;
}
